{% load static %}
<footer class="sub-bg radius-30 mt-15">
                    <div class="container pb-40 pt-80 ontop">
                        <div class="d-flex justify-content-center mb-30">
                            <div class="logo icon-img-120">
                                <img src="{% static 'assets/imgs/logo-light.png' %}" alt="">
                            </div>
                        </div>
                        <div class="info-comp d-flex align-items-center justify-content-center pt-40 pb-40 bord-thin-bottom bord-thin-top">
                            <div class="mr-30">
                                <span class="icon main-color mr-10 ti-email"></span>
                                <span class="text">Support@Website.com</span>
                            </div>
                            <div class="mr-30">
                                <span class="icon main-color mr-10 ti-mobile"></span>
                                <span class="text">+2 456 (343) 24 45</span>
                            </div>
                            <div>
                                <span class="icon main-color mr-10 ti-location-pin"></span>
                                <span class="text">Trussville 43 Crossings, Birmingham</span>
                            </div>
                        </div>
                        <div class="row sub-footer mt-40 pt-25 pb-25 main-bg radius-30 padding-rl-30">
                            <div class="col-lg-4 col-md-6 md-mb15">
                                <ul class="rest d-flex align-items-center">
                                    <li class="hover-this cursor-pointer">
                                        <a href="#0" class="hover-anim">
                                            <i class="fab fa-facebook-f"></i>
                                        </a>
                                    </li>
                                    <li class="hover-this cursor-pointer ml-30">
                                        <a href="#0" class="hover-anim">
                                            <i class="fab fa-dribbble"></i>
                                        </a>
                                    </li>
                                    <li class="hover-this cursor-pointer ml-30">
                                        <a href="#0" class="hover-anim">
                                            <i class="fab fa-linkedin-in"></i>
                                        </a>
                                    </li>
                                    <li class="hover-this cursor-pointer ml-30">
                                        <a href="#0" class="hover-anim">
                                            <i class="fab fa-instagram"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-lg-4 order-md-3">
                                <div class="text-center">
                                    <p class="fz-14">© 2023 InFolio is Proudly Powered by <span class="underline main-color"><a
                                        href="https://themeforest.net/user/ui-themez"
                                        target="_blank">UI-ThemeZ</a></span></p>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 md-mb15 order-md-2">
                                <div class="links d-flex justify-content-end">
                                    <ul class="rest d-flex align-items-center">
                                        <li>
                                            <a href="page-FAQS.html">FAQ</a>
                                        </li>
                                        <li class="ml-30">
                                            <a href="page-about2.html">Careers</a>
                                        </li>
                                        <li class="ml-30">
                                            <a href="page-contact2.html">Contact Us</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </footer>